.container
  width: 100%
  position: sticky
  padding: 20px 0px
  top: 0
  display: flex
  justify-content: space-between
  align-items: center
  background-color: #0d0d18
  z-index: 999

.logo
  font-size: 32px
  text-decoration: none
  color: inherit

@media screen and ( max-width: 505px )
  .logo
    font-size: 24px
